.homepage {
  max-width: 85%;
  margin: auto;
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
}
.textflex {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.textflex h2 {
  font-size: 2.5rem;
}
.textflex h1 {
  font-size: 3.5rem;
  color: var(--primary-color);
}
.textflex p {
  font-size: 1.1rem;
  max-width: 600px;
  line-height: 28px;
}
.buttons button {
  width: 160px;
  height: 45px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  margin-top: 20px;
  font-family: "lufga";
  font-size: 1.2rem;
  border-radius: 10px;
  color: var(--secondary-color);
}
.image img {
  width: 500px;
}
footer {
  background-color: var(--primary-color);
  margin-top: 10px;
  width: 100%;
  height: 50px;
}
.socialmedia i {
  padding-left: 10px;
}
.fles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}
.tex p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  font-size: 1.2rem;
  padding-top: 10px;
}
.tex span {
  font-weight: 600;
  text-decoration: underline;
  padding-left: 10px;
}
.socialmedia {
  display: flex;
  justify-content: right;
  align-items: center;
}
.waves img {
  height: 120px;
  width: 100%;
}

@media only screen and (max-width: 960px) {
  .homepage {
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    align-items: center;
  }
  .textflex {
    justify-content: center;
    align-items: center;
  }
  .textflex h2 {
    font-size: 1.5rem;
  }
  .textflex h1 {
    font-size: 2rem;
  }
  .textflex p {
    font-size: 1.1rem;
  }
  .image img {
    max-width: 80vw;
    margin: auto;
    margin-top: 50px;
  }
}
