.joinpage {
  max-width: 85%;
  margin: auto;
}
.joinpage h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.joinpage p {
  font-size: 1.2rem;
  font-weight: 300;
}
.join {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  width: 270px;
  height: 200px;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-top: 50px;
  color: #202020;
  position: relative;
}

/* On hover change the background color */
.card:hover {
  background-color: #7BDDCB;
  color: #0F473D;
}

.card h2 {
  max-width: 80%;
  margin: 15px auto auto;
  font-size: 1.5rem;
}

.card p {
  font-size: 1.1rem;
  max-width: 80%;
  margin: 5px auto auto;
}

.btn-icon {
}

.apply-btn {
  /* Align button to bottom right of the div */
  position: absolute;
  bottom: 15px;
  margin-left: auto;
  max-width: 80%;
  color: #7bddcb;
  background-color: #202020;
  border-radius: 6px;
  padding: 8px;
  border-style: none;
  visibility: hidden;
}

@media only screen and (max-width: 960px) {
  .joinpage {
    max-width: 90%;
  }
  .join {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    max-width: 80vw;
    margin: auto;
    margin-top: 50px;
  }
}
